<div mat-dialog-title>
    Edit Expense
   <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>

<section mat-dialog-content>
   <app-expense-form [isShowErrors]="isShowErrors" [expenseid]="expenseid" [brandlogopath]="brandlogopath" >

   </app-expense-form>
</section>
<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
   <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
       Cancel
   </button>
   <button mat-raised-button class="btnnn-prime-fn" (click)="update()">
       Save
   </button>
</div>