::ng-deep .p-element canvas {
    height: 400px !important;
  }

  .capital {
    text-transform: capitalize;
  }
  
  .chart-container {
    height: 400px; /* Limit the height */
    max-width: 100%; /* Limit the width */
    overflow: hidden; /* Hide overflow */
}

.row .col-5 {
  flex: 0 0 20%;
  max-width: 20%;
}


.mat-sort-header-button, th.mat-header-cell, .mat-header-cell {
    text-transform: uppercase !important;
    font-size: 14px !important;
    text-align: start !important;
}


