<div mat-dialog-title>
  Advance Search
  <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>

<section mat-dialog-content>
  <form [formGroup]="addEditForm " class="p-3 row">
    <div class="row p-4">

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Opportunity Ref No </mat-label>
        <input matInput formControlName="opportunityrefno" type="text" />
      </mat-form-field>

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Opportunity name </mat-label>
        <input matInput formControlName="opportunityname" type="text" />
      </mat-form-field>

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Opportunity </mat-label>
        <mat-select formControlName="opportunityid">
          <mat-select-filter [array]="opportunityList" (filteredReturn)="filteredopportunityList=$event"
            [displayMember]="'opportunityname'">
          </mat-select-filter>
          <mat-option *ngFor="let item of opportunityList" [value]="item.opportunityid"
            [class.hide]="!isFiltered(item)">

            <span>{{ item.opportunityname }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Stage </mat-label>
        <mat-select formControlName="stageid">
          <mat-select-filter [array]="stageList" (filteredReturn)="stageFilterList=$event"
            [displayMember]="'stagename'">
          </mat-select-filter>
          <mat-option *ngFor="let item of stageList" [value]="item.stageid" [class.hide]="!isStageFiltered(item)">
            <span>{{ item.stagename }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Deal status</mat-label>
        <mat-select formControlName="dealstatusid">
          <!-- <mat-option value="null">-</mat-option> -->
          <!-- <mat-option value="1">Abandoned</mat-option> -->
          <mat-option value="2">Closed</mat-option>
          <mat-option value="3">Lost</mat-option>
          <mat-option value="4">Not Interested</mat-option>
          <mat-option value="5">Progress</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Account </mat-label>
        <mat-select formControlName="accountid" (selectionChange)="onAccountOptionSelected($event.value)">
          <mat-select-filter [array]="accountList" (filteredReturn)="accountFilteredList=$event"
            [displayMember]="'accountname'">
          </mat-select-filter>
          <mat-option *ngFor="let item of accountList" [value]="item.accountid" [class.hide]="!accountidFiltered(item)">
            {{ item.accountname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Contact </mat-label>
        <mat-select formControlName="contactid">
          <mat-select-filter [array]="contactList" (filteredReturn)="contactFilterList=$event"
            [displayMember]="'firstname'">
          </mat-select-filter>
          <mat-option *ngFor="let item of contactList" [value]="item.contactid" [class.hide]="!isContactFiltered(item)">
            <span>{{ item.firstname }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label class="">Mobile</mat-label> <span matPrefix>+971</span>
        <input matInput formControlName="mobile" type="number" />
      </mat-form-field>

      <mat-form-field class="pt-2 col-md-4" appearance="outline">
        <mat-label>Expected Close Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="expectedclosedate"
          readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

      <div> <button (click)="clearfilter()" mat-button class="btnnn-prime-fn col-md-1">
          Clear
        </button> &nbsp;&nbsp;<button (click)="filter()" mat-button class="btnnn-prime-fn col-md-1">
          Search
        </button></div>
    </div>
  </form>

  <div class="mat-table-container p-4" id="test1" #test1>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          No records found.
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="opportunityname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>opportunity </th>
        <td mat-cell *matCellDef="let element"> {{element?.opportunityname}} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact </th>
        <td mat-cell *matCellDef="let element"> {{element.contactfirstname}}</td>
      </ng-container>

      <ng-container matColumnDef="accountname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>account name </th>
        <td mat-cell *matCellDef="let element"> {{element.accountname}}</td>
      </ng-container>

      <ng-container matColumnDef="stagename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>stage name </th>
        <td mat-cell *matCellDef="let element"> {{element.stagename}}</td>
      </ng-container>

      <ng-container matColumnDef="dealstatusname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>deal status </th>
        <td mat-cell *matCellDef="let element"> {{element.dealstatusname}}</td>
      </ng-container>


      <ng-container matColumnDef="opportunityrefno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>opportunity refno </th>
        <td mat-cell *matCellDef="let element"> {{element.opportunityrefno}}</td>
      </ng-container>

      <ng-container matColumnDef="expectedclosedate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>expected close date </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{ 'overdue-row': isDatePast(element.expectedclosedate) }"> {{element.expectedclosedate | date: DATE_ONLYFORMAT}}</td>

      </ng-container>
      
      


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="selectedRow(element)"
      ></tr>
    </table>

    <tr *ngIf="dataSource && dataSource.data.length == 0">
      <td class="no-data-cell">
        No records found.
      </td>
    </tr>
    
  </div>

</section>


<mat-paginator *ngIf="dataSource && dataSource.data.length > 0" [pageSize]="PAGE_SIZE"
  [pageSizeOptions]="PAGINATION_RANGE" showFirstLastButtons></mat-paginator>


<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
  <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
    Cancel
  </button>
</div>