
<div mat-dialog-title>
    Contact
   <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>

<section mat-dialog-content>
   <app-add-edit-contact-form [isShowErrors]="isShowErrors"
   [countryid]="countryid"   [contactid]="contactid" 
   [stateid]="stateid" >

   </app-add-edit-contact-form>
</section>
<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
   <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
       Cancel
   </button>
   <button mat-raised-button class="btnnn-prime-fn" (click)="update()">
       Save
   </button>
</div>
