.mat-row{
    text-transform: capitalize;
}
mat-icon{
    cursor: pointer !important;
  }

  mat-label,mat-option {
    text-transform: capitalize ; 
  }
  
  .large-icon {
    font-size: 24px !important; /* Adjust the size as needed */
  }
  