.position-relative {
	position: relative;
}
.card{
    overflow: auto !important  ;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

.cards{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
   
}



  
