<div mat-dialog-title>
    Create Consignment
   <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>
<div class="spinner__loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
    </div>
<section mat-dialog-content>

   <app-consignment-form [accountid]="accountid" [isShowErrors]="isShowErrors"  [allowStatusFieldActive]="allowStatusFieldActive">

   </app-consignment-form>

</section>
<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
   <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
       Cancel
   </button>
   <button mat-raised-button class="btnnn-prime-fn" (click)="save()">
       Save
   </button>
</div>