@import '../../../../style.scss';

.pdf-cover-page {
    background-image: url('../../../../assets/assets/bg-1.jpg');
}

.return-to-menu>a {
    color: #007bff;
  }
  
  .return-to-menu {
    margin-bottom: 5px !important;
  }
  