.text-center{
    font-size: 16px !important;
    cursor: pointer !important;
}

mat-icon{
    font-size: 24px !important;
    cursor: pointer ;
}

.btn{
    background-color: #f4d35f;
    cursor: pointer !important;
}


