<div class="col-md-12">
    <div class="page-title">CRM USER </div>
    <div class="spinner__loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="col-md-12 row">
        <div class="row" style="padding-left: 21px !important">
    
            <mat-form-field class="col-md-10 p-0 pr-2" appearance="outline">
                <mat-label>Search CRM User Detail</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" />
            </mat-form-field>
    
            <div class="col-md-2 pt-3" style="text-align: end">
    
                <button mat-raised-button class="btnnn-prime-fn " style="background-color: #5f71f4 !important;"
                    (click)="getAccessToken()" matTooltip="Sync Service Advisor">
                    Sync CRM User
                </button>&nbsp;
            </div>
        </div>
    </div>

    <div class="mat-table-container" id="test1" #test1>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                    No records found.
                </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CRM User name </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            
            <ng-container matColumnDef="location__name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> location name </th>
                <td mat-cell *matCellDef="let element">
                    {{element.location__name}}
                </td>
            </ng-container>


            <ng-container matColumnDef="crmrole__name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CRM UserRole </th>
                <td mat-cell *matCellDef="let element">
                    {{element.crmrole__name}}
                </td>
            </ng-container>


            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let element">
                    {{element.email}}
                </td>
            </ng-container>
            

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CRM User Phone </th>
                <td mat-cell *matCellDef="let element"> {{element?.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="imgpath">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CRM User Img </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.imgpath">
                        <!-- Render the link and image when imgpath is not null -->
                        <a [href]="element.imgpath" target="_blank">
                            <img class="spclofferpath" [src]="element.imgpath" />
                        </a>
                    </ng-container>
                    <ng-container *ngIf="!element.imgpath">
                        <!-- Handle the case when imgpath is null -->
                        Image not available
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> type </th>
                <td mat-cell *matCellDef="let element"> {{element?.type == 'bodyshop' ? "BodyShop":"WorkShop"}} </td>
            </ng-container>

            <ng-container matColumnDef="leavestartdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> leave start date </th>
                <td mat-cell *matCellDef="let element"> {{element?.leavestartdate | date: 'dd-MMM-yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="leaveenddate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> leave end date </th>
                <td mat-cell *matCellDef="let element"> {{element?.leaveenddate | date: 'dd-MMM-yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="leavestatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Status </th>
                <td mat-cell *matCellDef="let element">
                    {{ element?.status == '0' ? 'Not Available' : (element?.leavestatus == '1' ? 'On leave' : 'Available') }}
                </td>
            </ng-container>
            

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                <td mat-cell *matCellDef="let element"> {{element?.status == '1' ? "Active":"In-Active"}} </td>
            </ng-container>
            
            <ng-container matColumnDef="createdbyname" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> created by </th>
                <td mat-cell *matCellDef="let element"> {{element?.createdbyname}} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> created at </th>
                <td mat-cell *matCellDef="let element"> {{element?.created_at | date: DATE_FORMAT }} </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> modified by </th>
                <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
            </ng-container>

            <ng-container matColumnDef="modified_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> modified at </th>
                <td mat-cell *matCellDef="let element"> {{element?.modified_at | date: DATE_FORMAT}} </td>
            </ng-container>


            <ng-container matColumnDef="actions" stickyEnd class="mat-col-levelDefault ">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 120px;">
                    Action
                </th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="userPrivilegeObj && userPrivilegeObj?.deleteaccess == '1'" mat-icon-button
                        matTooltip="Edit" (click)="editRecord(element)">
                        <mat-icon class="edit-mat-icon">edit</mat-icon>
                    </button>
                    <button *ngIf="userPrivilegeObj && userPrivilegeObj?.deleteaccess == '1'" mat-icon-button
                        matTooltip="Annual Leave" (click)="annualLeave(element)">
                        <mat-icon class="edit-mat-icon" style="    font-size: 23px !important;">add</mat-icon>
                    </button>                    
                
                </td>
               

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
        </table>

    </div>

    <mat-paginator [pageSize]="PAGE_SIZE" [pageSizeOptions]="PAGINATION_RANGE" showFirstLastButtons></mat-paginator>
</div>