img {
    width: 40px !important;
    height: 50px !important;
}


.mat-row {
    text-transform: capitalize;
}

.mat-filter::after {
    content: "\e8b6";
    font-family: material icons;
    vertical-align: bottom;
    font-size: 20px;
    padding-left: 5px;
}

.mat-option.hide {
    display: none;
}